.full-screen {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    will-change: transform, opacity;
    transform: translateZ(0);
}
.recombine {
    animation-duration: 1.5s;
    animation-fill-mode: both;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    will-change: transform;
    transform: translateZ(0);
}

//.recombine1 {
//    animation-name: recombine1;
//}
//.recombine2 {
//    animation-name: recombine1;
//}
//.recombine3 {
//    animation-name: recombine3;
//}
//.recombine4 {
//    animation-name: recombine4;
//}
//.recombine5 {
//    animation-name: recombine5;
//}
//.recombine6 {
//    animation-name: recombine6;
//}
//.recombine7 {
//    animation-name: recombine7;
//}
//.recombine8 {
//    animation-name: recombine8;
//}
@keyframes recombine1 {
    from {
        transform: translate(-1500px, -1500px) rotate(-45deg) scale(2, 2);
    }
    to {
        transform: translate(0, 0) rotate(0deg) scale(1, 1);
    }
}
@keyframes recombine2 {
    from {
        transform: translate(-400px, -1000px) rotate(10deg) scale(2, 2);
    }
    to {
        transform: translate(0, 0) rotate(0deg) scale(1, 1);
    }
}
@keyframes recombine3 {
    from {
        transform: translate(-1000px, 200px) rotate(10deg) scale(2, 2);
    }
    to {
        transform: translate(0, 0) rotate(0deg) scale(1, 1);
    }
}
@keyframes recombine4 {
    from {
        transform: translate(-1000px, -500px) rotate(10deg) scale(0.6, 0.6);
    }
    to {
        transform: translate(0, 0) rotate(0deg) scale(1, 1);
    }
}
@keyframes recombine5 {
    from {
        transform: translate(-200px, -200px) rotate(10deg) scale(2, 2);
    }
    to {
        transform: translate(0, 0) rotate(0deg) scale(1, 1);

    }
}
@keyframes recombine6 {
    from {
        transform: translate(-2000px, -400px) rotate(50deg) scale(2, 2);
    }
    to {
        transform: translate(0, 0) rotate(0deg) scale(1, 1);
    }
}
@keyframes recombine7 {
    from {
        transform: translate(-200px, 400px) rotate(40deg) scale(2, 2);
    }
    to {
        transform: translate(0, 0) rotate(0deg) scale(1, 1);
    }
}
@keyframes recombine8 {
    from {
        transform: translate(-400%, -400%) rotate(20deg) scale(2, 2);
    }
    to {
        transform: translate(0, 0) rotate(0deg) scale(1, 1);
    }
}
#container-triangle {
    .triangle {
        position: fixed;
        will-change: transform;
        transform: translateZ(0);
    }
    .triangle1 {
        background: url(../images/home/triangle/triangle01.svg) no-repeat;
        background-size: 100%;
        width: 746px;
        height: 595px;
        left: -100px;
        bottom: -100px;
    }
    .triangle2 {
        background: url(../images/home/triangle/triangle02.svg) no-repeat;
        background-size: 100%;
        width: 261px;
        height: 128px;
        left: 35%;
        bottom: -10%;
    }
    .triangle3 {
        background: url(../images/home/triangle/triangle03.svg) no-repeat;
        background-size: 100%;
        width: 315px;
        height: 251px;
        right: 350px;
        bottom: 50px;
    }
    .triangle4 {
        background: url(../images/home/triangle/triangle04.svg) no-repeat;
        background-size: 100%;
        width: 39px;
        height: 66px;
        left: 20%;
        top: 20%;

    }
    .triangle5 {
        background: url(../images/home/triangle/triangle05.svg) no-repeat;
        background-size: 100%;
        width: 21px;
        height: 24px;
        left: 80%;
        top: 20%;

    }
    .triangle6 {
        background: url(../images/home/triangle/triangle06.svg) no-repeat;
        background-size: 100%;
        width: 182px;
        height: 155px;
        top: -10%;
        left: 75%;
    }
}


.home {
    .container-lion {
        opacity: 0;
        transition: all 1s ease-out;
        will-change: opacity;
    }
    .background-lion {
        background-size: cover;
        background: #e9551b url(../images/home/background_lion_gradient.png) no-repeat;
    }
    .lion {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        will-change: transform;
        transform: translateZ(0);
    }
}
