/* Media queries breakpoints */
a, a:hover {
  text-decoration: none; }

.align {
  display: inline-block; }

.a-left {
  float: left; }

.a-right {
  float: right; }

@font-face {
  font-family: "gotham-black";
  src: url("../fonts/gotham-black.eot");
  src: url("../fonts/gotham-black.eot#iefix") format("embedded-opentype"), url("../fonts/gotham-black.woff") format("woff"), url("../fonts/gotham-black.ttf") format("truetype"), url("../fonts/gotham-black.svg") format("svg"); }

@font-face {
  font-family: "gotham-light";
  src: url("../fonts/gothamlight.eot");
  src: url("../fonts/gothamlight.eot#iefix") format("embedded-opentype"), url("../fonts/gothamlight.woff") format("woff"), url("../fonts/gothamlight.ttf") format("truetype"), url("../fonts/gothamlight.svg") format("svg"); }

@font-face {
  font-family: "gotham-medium";
  src: url("../fonts/gotham-medium.eot");
  src: url("../fonts/gotham-medium.eot#iefix") format("embedded-opentype"), url("../fonts/gotham-medium.woff") format("woff"), url("../fonts/gotham-medium.ttf") format("truetype"), url("../fonts/gotham-medium.svg") format("svg"); }

@font-face {
  font-family: "gotham-book";
  src: url("../fonts/gotham-book.eot");
  src: url("../fonts/gotham-book.eot#iefix") format("embedded-opentype"), url("../fonts/gotham-book.woff") format("woff"), url("../fonts/gotham-book.ttf") format("truetype"), url("../fonts/gotham-book.svg") format("svg"); }

@font-face {
  font-family: "gotham-bold";
  src: url("../fonts/gotham-bold.eot");
  src: url("../fonts/gotham-bold.eot#iefix") format("embedded-opentype"), url("../fonts/gotham-bold.woff") format("woff"), url("../fonts/gotham-bold.ttf") format("truetype"), url("../fonts/gotham-bold.svg") format("svg"); }

@font-face {
  font-family: "gotham-xlight";
  src: url("../fonts/gotham-xlight.eot");
  src: url("../fonts/gotham-xlight.eot#iefix") format("embedded-opentype"), url("../fonts/gotham-xlight.woff") format("woff"), url("../fonts/gotham-xlight.ttf") format("truetype"), url("../fonts/gotham-xlight.svg") format("svg"); }

@font-face {
  font-family: "gotham-exlight";
  src: url("../fonts/gothamexlight.eot");
  src: url("../fonts/gothamexlight.eot#iefix") format("embedded-opentype"), url("../fonts/gothamexlight.woff") format("woff"), url("../fonts/gothamexlight.ttf") format("truetype"), url("../fonts/gothamexlight.svg") format("svg"); }

.font-style, .font-gotham-black, .font-gotham-bold, .font-gotham-medium, .heading-lion .txt-small .txt-bold, .font-gotham-book, .heading-lion .txt-small, .font-gotham-light, .font-gotham-xlight, .font-gotham-exlight, .heading-lion .heading span, .btn-wrapper, .btn-wrapper p {
  font-style: normal;
  font-weight: normal; }

.font-gotham-black {
  font-family: "gotham-black",sans-serif, serif; }

.font-gotham-bold {
  font-family: "gotham-bold", sans-serif, serif; }

.font-gotham-medium, .heading-lion .txt-small .txt-bold {
  font-family: "gotham-medium", sans-serif ,serif; }

.font-gotham-book, .heading-lion .txt-small {
  font-family: "gotham-book", sans-serif, serif; }

.font-gotham-light {
  font-family: "gotham-light", sans-serif, serif; }

.font-gotham-xlight {
  font-family: "gotham-xlight", sans-serif, serif; }

.font-gotham-exlight, .heading-lion .heading span, .btn-wrapper, .btn-wrapper p {
  font-family: "gotham-exlight", sans-serif, serif; }

.container-lion {
  z-index: 1; }

.container-overlay .overlay {
  z-index: 2; }

.prj-txt-bg {
  z-index: 3; }

.prj_wrapper {
  z-index: 4; }

.slide-control {
  z-index: 5; }

@keyframes scroll-wheel {
  0% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1; }
  35% {
    -moz-transform: translate3d(0, 7px, 0);
    -webkit-transform: translate3d(0, 7px, 0);
    transform: translate3d(0, 7px, 0);
    opacity: 1; }
  50% {
    -moz-transform: translate3d(0, 10px, 0);
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
    opacity: 0; }
  50.001% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 0; }
  80% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 0; } }

.container-overlay .overlay-lion {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 45%;
  height: 550px;
  background: url(../images/home/overlay.png) no-repeat;
  background-position: 50%;
  background-size: 120%;
  opacity: 0; }

.container-heading {
  position: fixed;
  width: 1920px;
  top: 58%;
  left: 50%;
  transform: translate3d(-50%, 0px, 0px);
  height: 1080px;
  z-index: 3;
  will-change: transform; }
  .container-heading h1 {
    text-align: center; }

.prj-txt-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  contain: strict;
  visibility: visible; }
  .prj-txt-bg.disabled {
    visibility: hidden; }
  .prj-txt-bg div[class^='txt-'] {
    position: fixed;
    top: 40%;
    left: 10%; }
  .prj-txt-bg div[class^='txt-'] p {
    position: relative;
    overflow: hidden;
    will-change: width; }
  .prj-txt-bg div[class^='txt-'] p .text-cover {
    position: absolute;
    content: "";
    top: 15%;
    right: 0;
    bottom: 10%;
    left: 0;
    transform: translateX(-100%); }

#txt-cresus .text-brand {
  color: rgba(254, 255, 255, 0.11); }

#txt-cresus .text-cover {
  background: #EE5688; }

#txt-durance .text-brand {
  color: rgba(254, 255, 255, 0.11); }

#txt-durance .text-cover {
  background: #AB39DB; }

#txt-bys .text-brand {
  color: rgba(254, 255, 255, 0.11); }

#txt-bys .text-cover {
  background: #157C80; }

#txt-club75 .text-brand {
  color: rgba(254, 255, 255, 0.11); }

#txt-club75 .text-cover {
  background: #A90806; }

#txt-renault .text-brand {
  color: rgba(254, 255, 255, 0.11); }

#txt-renault .text-cover {
  background: #221f26; }

.prj-txt-bg div[class^='txt-'] .text-brand {
  display: inline-block;
  margin: 0;
  font-size: 12.5vw;
  font-family: 'gotham-black';
  letter-spacing: 0.2em;
  line-height: 100%;
  overflow: hidden;
  opacity: 0;
  white-space: nowrap; }

.prj_wrapper {
  position: fixed; }
  .prj_wrapper .prj {
    position: fixed;
    top: 50%;
    left: 15%;
    opacity: 0; }
    .prj_wrapper .prj .prj_detail {
      transform: translateY(25%); }
    .prj_wrapper .prj .prj_desc {
      transform: translateY(25%); }
    .prj_wrapper .prj.prj-cresus {
      visibility: visible; }
      .prj_wrapper .prj.prj-cresus .prj_desc p {
        color: #aa804e; }
        .prj_wrapper .prj.prj-cresus .prj_desc p:after {
          background: #aa804e; }
      .prj_wrapper .prj.prj-cresus .prj_detail .btn-more {
        border-color: rgba(105, 96, 117, 0.3); }
        .prj_wrapper .prj.prj-cresus .prj_detail .btn-more:hover {
          border-color: white;
          background: #fff;
          color: #221f26; }
    .prj_wrapper .prj.prj-durance {
      visibility: hidden; }
      .prj_wrapper .prj.prj-durance .prj_desc p {
        color: #f6c709; }
        .prj_wrapper .prj.prj-durance .prj_desc p:after {
          background: #f6c709; }
      .prj_wrapper .prj.prj-durance .prj_detail .btn-more {
        border-color: rgba(255, 176, 202, 0.3); }
        .prj_wrapper .prj.prj-durance .prj_detail .btn-more:hover {
          border-color: white;
          background: #fff;
          color: #ee5285; }
    .prj_wrapper .prj.prj-bys {
      visibility: hidden; }
      .prj_wrapper .prj.prj-bys .prj_desc p {
        color: #282a3f; }
        .prj_wrapper .prj.prj-bys .prj_desc p:after {
          background: #282a3f; }
      .prj_wrapper .prj.prj-bys .prj_detail .btn-more {
        border-color: rgba(224, 151, 255, 0.3); }
        .prj_wrapper .prj.prj-bys .prj_detail .btn-more:hover {
          border-color: white;
          background: #fff;
          color: #ad3cdc; }
    .prj_wrapper .prj.prj-club75 {
      visibility: hidden; }
      .prj_wrapper .prj.prj-club75 .prj_desc p {
        color: #d1ff00; }
        .prj_wrapper .prj.prj-club75 .prj_desc p:after {
          background: #d1ff00; }
      .prj_wrapper .prj.prj-club75 .prj_detail .btn-more {
        border-color: rgba(49, 203, 209, 0.3); }
        .prj_wrapper .prj.prj-club75 .prj_detail .btn-more:hover {
          border-color: white;
          background: #fff;
          color: #168185; }
    .prj_wrapper .prj.prj-renault {
      visibility: hidden; }
      .prj_wrapper .prj.prj-renault .prj_desc p {
        color: #f64847; }
        .prj_wrapper .prj.prj-renault .prj_desc p:after {
          background: #f64847; }
      .prj_wrapper .prj.prj-renault .prj_detail .btn-more {
        border-color: rgba(253, 117, 115, 0.3); }
        .prj_wrapper .prj.prj-renault .prj_detail .btn-more:hover {
          border-color: white;
          background: #fff;
          color: #ae0b09; }
    .prj_wrapper .prj .prj_desc {
      overflow: hidden;
      padding-left: 30px;
      margin-top: 0;
      font-size: 13px;
      text-transform: uppercase; }
      .prj_wrapper .prj .prj_desc p {
        padding-bottom: 10px;
        color: #514032;
        position: relative;
        font-family: 'gotham-medium';
        font-size: 12px;
        letter-spacing: 0.2em; }
        @media only screen and (max-width: 479px) {
          .prj_wrapper .prj .prj_desc p {
            font-size: 11px; } }
        .prj_wrapper .prj .prj_desc p:after {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          left: 0;
          width: 205px;
          height: 1px;
          background: #514032; }
    .prj_wrapper .prj .prj_detail {
      overflow: hidden;
      margin: 35px 0 0 25px;
      text-transform: uppercase; }
      .prj_wrapper .prj .prj_detail a {
        color: #fff; }
      .prj_wrapper .prj .prj_detail .btn-more {
        letter-spacing: 0.1em;
        font-family: 'gotham-medium';
        display: inline-block;
        text-transform: uppercase;
        border-color: #696576;
        font-size: 11px;
        padding: 11px 42px; }

#nav {
  opacity: 0;
  position: fixed;
  bottom: 0;
  height: 60px;
  left: 0;
  right: 0;
  contain: strict;
  z-index: 10;
  padding: 0 15px; }
  #nav .a-left .slogan {
    display: inline-block;
    float: left;
    position: absolute;
    top: 50%;
    transform: translate(10%, 120%); }
    @media only screen and (max-width: 1199px) {
      #nav .a-left .slogan {
        margin-top: 0;
        padding-top: 0; } }
    #nav .a-left .slogan img {
      display: block; }
  #nav .a-right .social-link {
    margin: 0; }
    #nav .a-right .social-link li {
      position: relative;
      float: left;
      display: inline-block;
      padding: 20px 0;
      transform: translate(10%, 120%); }
      #nav .a-right .social-link li a {
        padding: 15px 20px 25px; }
        @media only screen and (max-width: 479px) {
          #nav .a-right .social-link li a {
            padding: 15px 20px 25px; } }
        #nav .a-right .social-link li a i {
          color: #fff; }
      #nav .a-right .social-link li#about-href a {
        color: #fff;
        font-family: 'gotham-medium';
        font-size: 14px; }

.heading-lion h1 {
  font-weight: 100; }

.heading-lion .heading {
  backface-visibility: hidden;
  transform: translateY(50px) translateZ(0);
  display: block;
  opacity: 0;
  will-change: transform, opacity; }
  .heading-lion .heading #txt1, .heading-lion .heading #txt2 {
    display: inline-block; }
  .heading-lion .heading span {
    text-transform: uppercase;
    color: #fcfaf2;
    font-size: 93px;
    font-size: 4.84vw;
    letter-spacing: 30px; }
  .heading-lion .heading .txt-dynamic {
    position: relative; }
    .heading-lion .heading .txt-dynamic .txt-word2,
    .heading-lion .heading .txt-dynamic .txt-word3 {
      position: absolute;
      left: 0;
      opacity: 0;
      transform: translateY(50%) translateZ(0);
      will-change: opacity, transform;
      backface-visibility: hidden; }

.heading-lion .txt-small {
  display: block;
  transform: translateY(50px) translateZ(0);
  opacity: 0;
  padding: 20px 0 0 20px;
  text-align: center;
  color: #93340e;
  font-size: 17px;
  letter-spacing: 10px;
  margin-left: 30px;
  text-shadow: 0 0 0.1px rgba(0, 0, 0, 0.1);
  backface-visibility: hidden; }
  .heading-lion .txt-small .txt-bold {
    color: #a52a2a; }

.btn-wrapper {
  position: fixed;
  width: 100px;
  left: 50%;
  transform: translateX(-50%) translateZ(0);
  will-change: opacity, transform;
  bottom: 10%;
  right: 0;
  text-align: center;
  z-index: 4;
  opacity: 0;
  backface-visibility: hidden; }
  .btn-wrapper button {
    border: 0;
    outline: 0;
    margin: auto;
    background-size: 22px 38px;
    height: 38px;
    width: 22px;
    transform: scale(0.78) translateZ(0);
    display: block;
    top: -30px;
    left: 50%;
    background: transparent;
    border: 2px solid #a52a2a;
    border-radius: 15px; }
    .btn-wrapper button .wheel {
      display: block;
      margin: 0 0 0 -2px;
      position: absolute;
      top: 10px;
      left: 50%;
      width: 4px;
      height: 4px;
      background: #a52a2a;
      border-radius: -5%;
      animation: scroll-wheel 1.8s linear 0s infinite normal none;
      will-change: transform, opacity; }
  .btn-wrapper p {
    margin: 0;
    padding-top: 10px;
    color: #93340e;
    font-size: 7px;
    letter-spacing: 2px; }

.background-cresus {
  opacity: 0; }

.background-durance {
  background: #EE5688; }

.background-bys {
  background: #AB39DB; }

.background-club75 {
  background: #157C80; }

.background-renault {
  background: #A90806; }

.container-illustration {
  opacity: 0; }

.slide-prev,
.slide-next {
  opacity: 0;
  transition: color 0.3s ease-out;
  position: fixed;
  top: 40%;
  right: 5%;
  width: 100px;
  height: 100px;
  background-position: center;
  z-index: 9999;
  cursor: pointer; }
  .slide-prev.active,
  .slide-next.active {
    display: block; }
  .slide-prev circle,
  .slide-next circle {
    transform: rotate(-90deg);
    transform-origin: center; }
  .slide-prev svg,
  .slide-next svg {
    position: fixed;
    width: 100px;
    height: 100px; }

.slide-next {
  background-position: center;
  top: 48%; }

@media only screen and (max-width: 1599px) {
  .slide-next {
    top: 50%; } }

.draw-circle .circle {
  animation: draw-circle 2s ease-in-out; }

.draw-arrow .arrow {
  transform: translateX(60px);
  animation: draw-arrow 1s ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1; }

.slide-next g {
  transform-origin: center; }

.slide-next.clicked-button .arrow-wrapper {
  animation: clicked-button 0.5s ease-in-out; }

.circle {
  stroke-dasharray: 3256.16px 3256.16px;
  stroke-dashoffset: 3256.16px; }

.arrow {
  transform-origin: center;
  stroke-dasharray: 597.866, 597.866;
  stroke-dashoffset: 597.866; }

@keyframes draw-circle {
  0% {
    stroke-dashoffset: 3256px; }
  50% {
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: -3256px; } }

@keyframes draw-arrow {
  0% {
    stroke-dashoffset: 597.866px; }
  100% {
    stroke-dashoffset: 0; } }

@keyframes clicked-button {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.8); }
  100% {
    transform: scale(1); } }
