@font-face {
  font-family: "gotham-black";
  src: url("../fonts/gotham-black.eot");
  src: url("../fonts/gotham-black.eot#iefix") format("embedded-opentype"), url("../fonts/gotham-black.woff") format("woff"), url("../fonts/gotham-black.ttf") format("truetype"), url("../fonts/gotham-black.svg") format("svg"); }

@font-face {
  font-family: "gotham-light";
  src: url("../fonts/gothamlight.eot");
  src: url("../fonts/gothamlight.eot#iefix") format("embedded-opentype"), url("../fonts/gothamlight.woff") format("woff"), url("../fonts/gothamlight.ttf") format("truetype"), url("../fonts/gothamlight.svg") format("svg"); }

@font-face {
  font-family: "gotham-medium";
  src: url("../fonts/gotham-medium.eot");
  src: url("../fonts/gotham-medium.eot#iefix") format("embedded-opentype"), url("../fonts/gotham-medium.woff") format("woff"), url("../fonts/gotham-medium.ttf") format("truetype"), url("../fonts/gotham-medium.svg") format("svg"); }

@font-face {
  font-family: "gotham-book";
  src: url("../fonts/gotham-book.eot");
  src: url("../fonts/gotham-book.eot#iefix") format("embedded-opentype"), url("../fonts/gotham-book.woff") format("woff"), url("../fonts/gotham-book.ttf") format("truetype"), url("../fonts/gotham-book.svg") format("svg"); }

@font-face {
  font-family: "gotham-bold";
  src: url("../fonts/gotham-bold.eot");
  src: url("../fonts/gotham-bold.eot#iefix") format("embedded-opentype"), url("../fonts/gotham-bold.woff") format("woff"), url("../fonts/gotham-bold.ttf") format("truetype"), url("../fonts/gotham-bold.svg") format("svg"); }

@font-face {
  font-family: "gotham-xlight";
  src: url("../fonts/gotham-xlight.eot");
  src: url("../fonts/gotham-xlight.eot#iefix") format("embedded-opentype"), url("../fonts/gotham-xlight.woff") format("woff"), url("../fonts/gotham-xlight.ttf") format("truetype"), url("../fonts/gotham-xlight.svg") format("svg"); }

@font-face {
  font-family: "gotham-exlight";
  src: url("../fonts/gothamexlight.eot");
  src: url("../fonts/gothamexlight.eot#iefix") format("embedded-opentype"), url("../fonts/gothamexlight.woff") format("woff"), url("../fonts/gothamexlight.ttf") format("truetype"), url("../fonts/gothamexlight.svg") format("svg"); }

.font-style, .font-gotham-black, .font-gotham-bold, .font-gotham-medium, .heading-lion .txt-small .txt-bold, .font-gotham-book, .heading-lion .txt-small, .font-gotham-light, .font-gotham-xlight, .font-gotham-exlight, .heading-lion .heading span, .btn-wrapper, .btn-wrapper p {
  font-style: normal;
  font-weight: normal; }

.font-gotham-black {
  font-family: "gotham-black",sans-serif, serif; }

.font-gotham-bold {
  font-family: "gotham-bold", sans-serif, serif; }

.font-gotham-medium, .heading-lion .txt-small .txt-bold {
  font-family: "gotham-medium", sans-serif ,serif; }

.font-gotham-book, .heading-lion .txt-small {
  font-family: "gotham-book", sans-serif, serif; }

.font-gotham-light {
  font-family: "gotham-light", sans-serif, serif; }

.font-gotham-xlight {
  font-family: "gotham-xlight", sans-serif, serif; }

.font-gotham-exlight, .heading-lion .heading span, .btn-wrapper, .btn-wrapper p {
  font-family: "gotham-exlight", sans-serif, serif; }

.container-lion {
  z-index: 1; }

.container-overlay .overlay {
  z-index: 2; }

@keyframes scroll-wheel {
  0% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1; }
  35% {
    -moz-transform: translate3d(0, 7px, 0);
    -webkit-transform: translate3d(0, 7px, 0);
    transform: translate3d(0, 7px, 0);
    opacity: 1; }
  50% {
    -moz-transform: translate3d(0, 10px, 0);
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
    opacity: 0; }
  50.001% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 0; }
  80% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 0; } }

.container-overlay .overlay-lion {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 45%;
  height: 550px;
  background: url(../images/home/overlay.png) no-repeat;
  background-position: 50%;
  background-size: 120%;
  opacity: 0; }

.container-heading {
  position: fixed;
  width: 1920px;
  top: 58%;
  left: 50%;
  transform: translate3d(-50%, 0px, 0px);
  height: 1080px;
  z-index: 3;
  will-change: transform; }
  .container-heading h1 {
    text-align: center; }

.prj-txt-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  contain: strict;
  visibility: visible; }
  .prj-txt-bg.disabled {
    visibility: hidden; }
  .prj-txt-bg div[class^='txt-'] {
    position: fixed;
    top: 40%;
    left: 10%; }
  .prj-txt-bg div[class^='txt-'] p {
    position: relative;
    overflow: hidden;
    will-change: width; }
  .prj-txt-bg div[class^='txt-'] p .text-cover {
    position: absolute;
    content: "";
    top: 15%;
    right: 0;
    bottom: 10%;
    left: 0;
    transform: translateX(-100%); }

#txt-cresus .text-brand {
  color: rgba(254, 255, 255, 0.11); }

#txt-cresus .text-cover {
  background: #EE5688; }

#txt-durance .text-brand {
  color: rgba(254, 255, 255, 0.11); }

#txt-durance .text-cover {
  background: #AB39DB; }

#txt-bys .text-brand {
  color: rgba(254, 255, 255, 0.11); }

#txt-bys .text-cover {
  background: #157C80; }

#txt-club75 .text-brand {
  color: rgba(254, 255, 255, 0.11); }

#txt-club75 .text-cover {
  background: #A90806; }

#txt-renault .text-brand {
  color: rgba(254, 255, 255, 0.11); }

#txt-renault .text-cover {
  background: #221f26; }

.prj-txt-bg div[class^='txt-'] .text-brand {
  display: inline-block;
  margin: 0;
  font-size: 12.5vw;
  font-family: 'gotham-black';
  letter-spacing: 0.2em;
  line-height: 100%;
  overflow: hidden;
  opacity: 0;
  white-space: nowrap; }

.heading-lion h1 {
  font-weight: 100; }

.heading-lion .heading {
  backface-visibility: hidden;
  transform: translateY(50px) translateZ(0);
  display: block;
  opacity: 0;
  will-change: transform, opacity; }
  .heading-lion .heading #txt1, .heading-lion .heading #txt2 {
    display: inline-block; }
  .heading-lion .heading span {
    text-transform: uppercase;
    color: #fcfaf2;
    font-size: 93px;
    font-size: 4.84vw;
    letter-spacing: 30px; }
  .heading-lion .heading .txt-dynamic {
    position: relative; }
    .heading-lion .heading .txt-dynamic .txt-word2,
    .heading-lion .heading .txt-dynamic .txt-word3 {
      position: absolute;
      left: 0;
      opacity: 0;
      transform: translateY(50%) translateZ(0);
      will-change: opacity, transform;
      backface-visibility: hidden; }

.heading-lion .txt-small {
  display: block;
  transform: translateY(50px) translateZ(0);
  opacity: 0;
  padding: 20px 0 0 20px;
  text-align: center;
  color: #93340e;
  font-size: 17px;
  letter-spacing: 10px;
  margin-left: 30px;
  text-shadow: 0 0 0.1px rgba(0, 0, 0, 0.1);
  backface-visibility: hidden; }
  .heading-lion .txt-small .txt-bold {
    color: #a52a2a; }

.btn-wrapper {
  position: fixed;
  width: 100px;
  left: 50%;
  transform: translateX(-50%) translateZ(0);
  will-change: opacity, transform;
  bottom: 10%;
  right: 0;
  text-align: center;
  z-index: 4;
  opacity: 0;
  backface-visibility: hidden; }
  .btn-wrapper button {
    border: 0;
    outline: 0;
    margin: auto;
    background-size: 22px 38px;
    height: 38px;
    width: 22px;
    transform: scale(0.78) translateZ(0);
    display: block;
    top: -30px;
    left: 50%;
    background: transparent;
    border: 2px solid #a52a2a;
    border-radius: 15px; }
    .btn-wrapper button .wheel {
      display: block;
      margin: 0 0 0 -2px;
      position: absolute;
      top: 10px;
      left: 50%;
      width: 4px;
      height: 4px;
      background: #a52a2a;
      border-radius: -5%;
      animation: scroll-wheel 1.8s linear 0s infinite normal none;
      will-change: transform, opacity; }
  .btn-wrapper p {
    margin: 0;
    padding-top: 10px;
    color: #93340e;
    font-size: 7px;
    letter-spacing: 2px; }

.background-cresus {
  opacity: 0; }

.background-durance {
  background: #EE5688; }

.background-bys {
  background: #AB39DB; }

.background-club75 {
  background: #157C80; }

.background-renault {
  background: #A90806; }

.container-illustration {
  opacity: 0; }
