* {
    font-family: 'gotham-exlight', arial, helvetica, sans-serif;
    box-sizing: border-box;
    font-weight: 100;
}
a,a:hover {
    text-decoration: none;
}
.align {
    display: inline-block;
}
.a-left {
    float: left;
}
.a-right {
    float: right;
}