@keyframes scroll-wheel  {
  0% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1;
  }
  35% {
    -moz-transform: translate3d(0,7px,0);
    -webkit-transform: translate3d(0,7px,0);
    transform: translate3d(0,7px,0);
    opacity: 1;
  }
  50% {
    -moz-transform: translate3d(0,10px,0);
    -webkit-transform: translate3d(0,10px,0);
    transform: translate3d(0,10px,0);
    opacity: 0;
  }
  50.001% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 0;
  }
  80% {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
}