/* Media queries breakpoints */
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-lg1: 1360px;
$screen-lg2: 1600px;
$screen-xxs-max: ($screen-xs - 1);
$screen-xs-max: ($screen-sm - 1);
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);
$screen-lg-max: ($screen-lg1 - 1);
$screen-lg1-max: ($screen-lg2 - 1);

//======================================================================================================================
// detail of abbreviation
//    h: heading
//    p: paragraph (the term paragraph includes all of related tag for displaying text(except for heading))
//    xxs: extra small
//    s: small
//    m: medium
//    l: large
//    bg: background

// ===== content width =====
$about-max-content-w1: 960px;
$about-max-content-w2: 1200px;
$about-max-content-w3: 1500px;

// ===== color =====
// heading color
$color-h-black: #27242b;
$color-h-grey: #c3bdca;
$color-h-white: #fdfdfd;
$color-h-orange: #ef5c22;

// paragraph color
$color-p-black: #27242b;
$color-p-grey: #434141;
$color-p-lighter-grey: #ededee;
$color-p-white: #f5f5f5;
$color-p-orange: #ef5c22;

// background/foreground color
$color-bg-black: #27242b;
$color-bg-white: #fdfdfd;
$color-overlay-orange: #e9551b;

// ===== font ======
//line-height
$height-h: 108px;
$height-p-l: 35px;
$height-p-m: 24px;

//heading font size
$size-h-l: 83px;
$size-h-m: 63px;
$size-h-s: 20px;
$size-h-xxs: 18px;

//paragraph font size
$size-h-xl: 22px;
$size-p-l: 17px;
$size-p-m: 15px;
$size-p-s: 13px;
$size-p-xxs: 11px;
$size-p-sxxs: 9px; //sxxs stands for supper extra small
$size-p-ssxxs: 7px;

$size-p-bg: 215px;

//carousel text
$size-carousel-p-l: 68px;

//menu item font size
$size-nav-item: 100px;