// the project detail area
.prj_wrapper {
  position: fixed;
  
  .prj {
    position: fixed;
    top: 50%;
    left: 15%;
    opacity: 0;
    .prj_detail {
        transform: translateY(25%);
    }
    .prj_desc {
        transform: translateY(25%);
    }
    &.prj-cresus {
      visibility: visible;
      .prj_desc {
        p {
          color: #aa804e;
          &:after {
            background: #aa804e;
          }
        }
      }
      .prj_detail {
        .btn-more {
          border-color: rgba(105, 96, 117, .3);
          &:hover {
            border-color: rgba(255, 255, 255, 1);
            background: #fff;
            color: #221f26;
          }
        }
      }
    }
    &.prj-durance {
      visibility: hidden;
      .prj_desc {
        p {
          color: #f6c709;
          &:after {
            background: #f6c709;
          }
        }
      }
      .prj_detail {
        .btn-more {
          border-color: rgba(255, 176, 202, .3);
          &:hover {
            border-color: rgba(255, 255, 255, 1);
            background: #fff;
            color: #ee5285;
          }
        }
      }
    }
    &.prj-bys {
      visibility: hidden;
      .prj_desc {
        p {
          color: #282a3f;
          &:after {
            background: #282a3f;
          }
        }
      }
      .prj_detail {
        .btn-more {
          border-color: rgba(224, 151, 255, .3);
          &:hover {
            border-color: rgba(255, 255, 255, 1);
            background: #fff;
            color: #ad3cdc;
          }
        }
      }
    }
    &.prj-club75 {
      visibility: hidden;
      .prj_desc {
        p {
          color: #d1ff00;
          &:after {
            background: #d1ff00;
          }
        }
      }
      .prj_detail {
        .btn-more {
          border-color: rgba(49, 203, 209, .3);
          &:hover {
            border-color: rgba(255, 255, 255, 1);
            background: #fff;
            color: #168185;
          }
        }
      }
    }
    &.prj-renault {
      visibility: hidden;
      .prj_desc {
        p {
          color: #f64847;
          &:after {
            background: #f64847;
          }
        }
      }
      .prj_detail {
        .btn-more {
          border-color: rgba(253, 117, 115, .3);
          &:hover {
            border-color: rgba(255, 255, 255, 1);
            background: #fff;
            color: #ae0b09;
          }
        }
      }
    }
    .prj_desc {
      overflow: hidden;
      padding-left: 30px;
      margin-top: 0;
      font-size: $size-p-s;
      text-transform: uppercase;
      p {
        padding-bottom: 10px;
        color: #514032;
        position: relative;
        font-family: 'gotham-medium';
        font-size: 12px;
        letter-spacing: 0.2em;
        @include bp(max-width, $screen-xxs-max) {
          font-size: 11px;
        }
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          left: 0;
          width: 205px;
          height: 1px;
          background: #514032;
        }
      }
    }
    .prj_detail {
      overflow: hidden;
      margin: 35px 0 0 25px;
      text-transform: uppercase;
      a {
        color: #fff;
      }
      .btn-more {
        letter-spacing: 0.1em;
        font-family: 'gotham-medium';
        display: inline-block;
        text-transform: uppercase;
        border-color: #696576;
        font-size: $size-p-xxs;
        padding: 11px 42px;
      }
    }
  }
}